
<div class="p-4">
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Number of calculations</th>
            <th>Max Calculated Value</th>
            <th>Min Calculated Value</th>
            <th>Average Of Calculated Values</th>
        </tr>

        <%= for (user) in users { %>
            <tr>
                <td><%= user.Name %></td>
                <td><%= user.LastName %></td>
                <td><%= len(user.Calculators) %></td>
                <td><%= user.Calculators.MaxCalculatorsValue() %></td>
                <td><%= user.Calculators.MinCalculatorsValue() %></td>
                <td><%= user.Calculators.AverageCalculatedValues() %></td>
            </tr>
        <% } %>

    </table>
</div>
