<% let selectedTheme = theme %>
<%= if (theme == "") { %>
    <% let selectedTheme = "day" %>
<% } %>
<% let themes = {"night": "Night", "day": "Day"} %>

<div class="center <%= selectedTheme %>">
    <%= form({action: stringCalculatePath({theme: theme}), method: "POST"}) { %>
        <div class="title">            
            <div class="col-12 d-flex flex-row p-0">
                <div class="col-2" style="align-self: center">
                    <div class="form-group">
                        <%= for (key, value) in themes { %>
                            <label>
                                <input id="<%= key %>" name="<%= key %>" type="radio" value="true" <%= if(selectedTheme == key) { %>checked<% } %>>
                                <input name="<%= key %>" type="hidden" value="<%= key %>"> <%= value%>
                              </label>
                        <% } %>                                               
                    </div>                                    
                </div>                
                <div class="mx-3 col-6 p-0">
                    <div class="d-flex flex-column">
                        <div class="p-0">
                            <label for="EnteredValue"><h2>StringCalculator for</h2></label>
                            <%= f.InputTag({name:"EnteredValue", placeholder:"Type your expression...", size:"40"}) %>
                        </div>                        
                        
                    </div>                                        
                </div> 
                <div class="col-4 p-0 d-flex justify-content-start ">
                    <button class="btn btn-primary px-3 mt-4 ml-2" style="align-self: center" role="submit">CALCULATE</button>
                </div>                                       
            </div>
            <div class="col-12 d-flex ">
                <div class="col-2"></div>
                <div class="col-6 d-flex justify-content-center">
                    <h1 class="titles"><%= result %></h1>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    <% } %>
    
    
    
</div>

