<div class="center d-flex flex-column">
  <h1>Welcome</h1>
  <%= form({action: userCreatePath(), method: "POST"}) { %>
    <%= f.InputTag({name:"Name", placeholder:"Name", size:"40", label:""}) %>
    <%= f.InputTag({name:"LastName", placeholder:"Last name", size:"40", label:""}) %>
    <%= f.InputTag({name:"Email", placeholder:"Email", size:"40", label:""}) %>
    <%= f.InputTag({name:"Age", placeholder:"Age", size:"40", label:""}) %>
    <button class="btn btn-success" role="submit">Enter</button>
  <% } %>
</div>
